<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akram_akh.notes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoteDetailActivity"></activity>
        <activity android:name=".CategoriesListActivity" />
        <activity android:name=".NotesListActivity" />
        <activity android:name=".NoteCreateActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".OnboardingScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.ForgetPasswordActivity" />
        <activity android:name=".Auth.ConfirmingEmailActivity" />
        <activity android:name=".Auth.SignInActivity" />
        <activity android:name=".Auth.SignUpActivity" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".CategoryActivity" />
    </application>

</manifest>